<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brand</title>
    <link rel="stylesheet" href="../css/brand.css">
</head>
<body>
<div id="div1">
    <el-header>
        <!--顶部选择栏-->
        <el-menu
                :default-active="activeIndex"
                class="el-menu-demo"
                mode="horizontal"
                @select="handleSelect"
                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b">
            <el-menu-item index="1">Brand Center</el-menu-item>
            <el-menu-item index="2" disabled>Operation Panel</el-menu-item>
            <el-menu-item index="3" disabled>Statistic</el-menu-item>
        </el-menu>
    </el-header>

    <el-main>
        <!--搜索栏-->
        <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <el-form-item label="Search">
                <el-select v-model="formInline.key" placeholder="" >
                    <el-option label="Name" value="name"></el-option>
                    <el-option label="Type" value="type"></el-option>
                    <el-option label="Level" value="level"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item >
                <el-input v-model="formInline.value" placeholder=""></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="Search">search</el-button>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="Reset">reset</el-button>
            </el-form-item>
        </el-form>

        <!--添加-->
        <el-button type="primary"  @click="dialogVisible = true">add</el-button>
        <el-dialog
                title="ADD"
                :visible.sync="dialogVisible"
                width="28%">

            <el-form ref="form" :model="form" label-width="120px">
                <el-form-item label="Name">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="Image">
                    <el-upload
                            class="avatar-uploader"
                            action="http://localhost/main/upload"
                            :on-success="handleSuccess"
                            :before-upload="beforeUpload"
                            :show-file-list="false"
                    >
                        <img v-if="form.img" :src="form.img" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                    <div style="height: 30px"></div>
                    <el-alert
                            title="只能上传jpg/png文件，且不超过3mb"
                            type="info"
                            show-icon>
                    </el-alert>
                </el-form-item>
                <el-form-item label="Type">
                    <el-select v-model="form.type" placeholder="Please select store type">
                        <el-option label="food" value="food"></el-option>
                        <el-option label="clothe" value="clothe"></el-option>
                        <el-option label="entertainment" value="entertainment"></el-option>
                        <el-option label="shop" value="shop"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Level">
                    <el-select v-model="form.level" placeholder="Please select store level">
                        <el-option label="1" value=1></el-option>
                        <el-option label="2" value=2></el-option>
                        <el-option label="3" value=3></el-option>
                        <el-option label="4" value=4></el-option>
                        <el-option label="5" value=5></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Size">
                    <el-select v-model="form.size" placeholder="Please select store size">
                        <el-option label="large" value="large"></el-option>
                        <el-option label="moderate" value="moderate"></el-option>
                        <el-option label="small" value="small"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Consumption">
                    <el-input v-model="form.consumption"></el-input>
                </el-form-item>
                <el-form-item label="Duration">
                    <el-input v-model="form.duration"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="ADD">add</el-button>
                    <el-button @click="dialogVisible = false">cancel</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

        <!--删除-->
        <el-button type="danger"  @click="deleteAll" >delete</el-button>

        <!--回收站-->
        <el-badge :value=recoverCount class="item">
            <el-button @click="deleteDialogVisible=true">Recycle Bin</el-button>
        </el-badge>
        <el-dialog
                title="Recycle Bin"
                :visible.sync="deleteDialogVisible"
                width="60%">
            <template>
                <el-table
                        :data="deleteData"
                        style="width: 100%">
                    <el-table-column
                            prop="name"
                            label="Name"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="img"
                            label="Img"
                            align="center">
                        <template slot-scope="scope">
                            <el-image
                                    style="width: 50px; height: 50px"
                                    :src="scope.row.img"
                                    :preview-src-list="[scope.row.img]"
                            >
                            </el-image>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="type"
                            label="Type"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="level"
                            label="Level"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="size"
                            label="Size"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="consumption"
                            label="Consumption"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="duration"
                            label="Duration"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            label="operation"
                            align="center">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    @click="binRecover(scope.row)">Recover</el-button>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="operation"
                            align="center">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="binDelete(scope.row)">Delete</el-button>
                        </template>
                    </el-table-column>

                </el-table>
            </template>
        </el-dialog>


        <!--表单-->
        <template>
            <el-table
                    :data="tableData"
                    style="width: 100%"
                    :default-sort = "{prop: 'date', order: 'descending'}"
                    @selection-change="handleSelectionChange"
            >
                <el-table-column
                        align="center"
                        type="selection"
                >
                </el-table-column>
                <el-table-column
                        align="center"
                        type="index"
                        sortable>
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="name"
                        label="Name">
                </el-table-column>
                <el-table-column
                        align="center"
                        label="Img"
                        prop="img"
                >
                    <template slot-scope="scope">
                        <el-image
                                style="width: 100px; height: 100px"
                                :src="scope.row.img"
                                :preview-src-list="[scope.row.img]"
                        >
                        </el-image>
                    </template>
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="type"
                        label="Type"
                        :filters="[{text: 'food', value: 'food'}, {text: 'clothe', value: 'clothe'}, {text: 'entertainment', value: 'entertainment'},{text: 'shop', value: 'shop'}]"
                        :filter-method="filterHandler"
                >
                    <template slot-scope="scope">
                        <el-tag
                                :type="scope.row.type === 'food' ? 'success' : scope.row.type === 'clothe' ? 'warning' : scope.row.type === 'entertainment' ? 'primary' : 'danger'"
                                disable-transitions>{{scope.row.type}}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="level"
                        label="Level"
                        sortable
                >
                </el-table-column>

                <el-table-column
                        align="center"
                        prop="size"
                        label="Size"
                        :filters="[{text: 'large', value: 'large'}, {text: 'moderate', value: 'moderate'}, {text: 'small', value: 'small'}]"
                        :filter-method="filterHandler"
                >
                </el-table-column>

                <el-table-column
                        align="center"
                        prop="consumption"
                        label="Per Consumption ($)"
                        sortable
                >
                </el-table-column>

                <el-table-column
                        align="center"
                        prop="duration"
                        label="Per Duration (min)"
                        sortable
                >
                </el-table-column>

                <el-table-column
                        align="center"
                        prop="select"
                        label="Select"
                        :filters="[{ text: 'true', value: true }, { text: 'false', value: false }]"
                        :filter-method="filterTagForSelect"
                        filter-placement="bottom-end"
                >
                    <template slot-scope="scope">
                        <el-tag
                                :type="scope.row.select === true ? 'success' :'danger'"
                                disable-transitions>{{scope.row.select}}</el-tag>
                    </template>
                </el-table-column>

                <el-table-column label="operation"
                                 align="center">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="handleSelectChange(scope.$index, scope.row)">Select</el-button>
                        <el-button
                                size="mini"
                                @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </template>

        <!--修改页面-->
        <el-dialog
                title="EDIT"
                :visible.sync="editDialogVisible"
                width="28%">

            <el-form ref="form" :model="updateForm" label-width="120px">
                <el-form-item label="Name">
                    <el-input v-model="updateForm.name"></el-input>
                </el-form-item>
                <el-form-item label="Img">
                    <el-upload
                            class="avatar-uploader"
                            action="http://localhost/main/upload"
                            :on-success="handleUpdateSuccess"
                            :before-upload="beforeUpload"
                            :show-file-list="false"
                    >
                        <img v-if="updateForm.img" :src="updateForm.img" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                    <div style="height: 30px"></div>
                    <el-alert
                            title="只能上传jpg/png文件，且不超过3mb"
                            type="info"
                            show-icon>
                    </el-alert>
                </el-form-item>
                <el-form-item label="Type">
                    <el-select v-model="updateForm.type" placeholder="Please select store type">
                        <el-option label="food" value="food"></el-option>
                        <el-option label="clothe" value="clothe"></el-option>
                        <el-option label="entertainment" value="entertainment"></el-option>
                        <el-option label="shop" value="shop"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Level">
                    <el-select v-model="updateForm.level" placeholder="Please select store level">
                        <el-option label="1" value=1></el-option>
                        <el-option label="2" value=2></el-option>
                        <el-option label="3" value=3></el-option>
                        <el-option label="4" value=4></el-option>
                        <el-option label="5" value=5></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Size">
                    <el-select v-model="updateForm.size" placeholder="Please select store size">
                        <el-option label="large" value="large"></el-option>
                        <el-option label="moderate" value="moderate"></el-option>
                        <el-option label="small" value="small"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Consumption">
                    <el-input v-model="updateForm.consumption"></el-input>
                </el-form-item>
                <el-form-item label="Duration">
                    <el-input v-model="updateForm.duration"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="update">update</el-button>
                    <el-button @click="editDialogVisible = false">cancel</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

        <!--分页栏-->
        <template>
            <div class="block" align="center">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[5, 10, 15]"
                        :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="pageCount">
                </el-pagination>
            </div>
        </template>

    </el-main>
</div>
</body>
<script src="../js/vue.js"></script>
<script src="../js/axios.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
<script src="../element-ui/lib/umd/locale/en.js"></script>

<script>
    ELEMENT.locale(ELEMENT.lang.en);
    new Vue({
        el: "#div1",
        mounted(){
            this.selectAll();
            this.selectDelete();
        },
        data() {
            return {
                //顶部选项
                activeIndex: '1',
                //添加图片表头
                headers: {
                    Authorization: localStorage.getItem("token")
                },
                //表格
                tableData:[],
                //搜索框
                formInline: {
                    key:'',
                    value:''
                },
                //复选框
                multipleSelection: [],
                //复选框选择id
                selectId:[],
                //对话框
                dialogVisible: false,
                editDialogVisible:false,
                departmentDialogVisible:false,
                deleteDialogVisible:false,
                modifyDialogVisible:false,
                //对话框表单信息
                form: {
                    id:'',
                    name: '',
                    img:'',
                    type:'',
                    level:'',
                    size:'',
                    consumption:'',
                    duration:'',
                    isDelete:false,
                    isSelect:true,
                },
                updateForm:{
                    id:'',
                    name: '',
                    img:'',
                    type:'',
                    level:'',
                    size:'',
                    consumption:'',
                    duration:'',
                    isDelete:false,
                    isSelect:true,
                },
                //回收站信息
                deleteData:[],
                //分页当前页数
                currentPage: 1,
                //总数据数
                pageCount:0,
                //查询页数
                pageSize:5,
                //回收站数量
                recoverCount:0,
            }
        },
        methods: {
            //顶框
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            //修改图片
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            //复选框
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            //表格筛选（组件）
            filterHandler(value, row, column) {
                const property = column['property'];
                return row[property] === value;
            },
            //表格筛选(组件)
            filterTagForSelect(value, row) {
                return row.select === value;
            },
            //成功
            Success() {
                this.$message({
                    showClose: true,
                    message: 'Success!',
                    type: 'success'
                });
            },
            //失败
            Error() {
                this.$message({
                    showClose: true,
                    message: 'Error',
                    type: 'error'
                });
            },
            //搜索所有
            selectAll(){
                axios.get("/main?currentPage="+this.currentPage+"&pageSize="+this.pageSize+"&key="+this.formInline.key+"&value="+this.formInline.value+"").then((res)=>{
                    this.tableData = res.data.data
                    this.pageCount = parseInt(res.data.msg)
                });
            },
            //查询回收站信息
            selectDelete(){
                axios.get("/main/delete/getAll").then((res)=>{
                    this.deleteData = res.data.data
                    this.recoverCount = parseInt(res.data.msg)
                });
            },
            //回收站恢复
            binRecover(row) {
                axios({
                    method:"post",
                    url:"http://localhost/main/delete/recover/"+row.id+""
                }).then(resp =>{
                    if (resp.data.data === true){
                        this.Success();
                    }else {
                        this.Error();
                    }
                    this.selectAll();
                    this.selectDelete();
                })
            },

            //回收站彻底删除
            binDelete(row){
                this.$confirm('This operation will permanently delete the file. Do you want to continue?', 'Tips', {
                    confirmButtonText: 'confirm',
                    cancelButtonText: 'cancel',
                    type: 'warning'
                }).then(() => {
                    axios({
                        method:"delete",
                        url:"http://localhost/main/"+row.id+""
                    }).then(resp =>{
                        if (resp.data.data === true){
                            this.Success();
                        }else {
                            this.Error();
                        }
                        this.selectAll();
                        this.selectDelete();
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Deletion cancelled'
                    });
                });
            },

            //删除到回收站
            handleDelete(index,row){
                this.$confirm('This operation will permanently move the file to recycle bin. Do you want to continue?', 'Tips', {
                    confirmButtonText: 'confirm',
                    cancelButtonText: 'cancel',
                    type: 'warning'
                }).then(() => {
                    axios({
                        method:"delete",
                        url:"http://localhost/main/delete/one/"+row.id+""
                    }).then(resp =>{
                        if (resp.data.data === true){
                            this.Success();
                        }else {
                            this.Error();
                        }
                        this.selectAll();
                        this.selectDelete();
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Deletion cancelled'
                    });
                });
            },

            //批量删除
            deleteAll(){
                this.$confirm('This operation will permanently delete the file. Do you want to continue?', 'Tips', {
                    confirmButtonText: 'confirm',
                    cancelButtonText: 'cancel',
                    type: 'warning'
                }).then(() => {
                    for (let i = 0; i <this.multipleSelection.length; i++) {
                        this.selectId[i] = this.multipleSelection[i].id
                    }
                    axios({
                        method:"delete",
                        url:"http://localhost/main/delete/many/"+this.selectId+""
                    }).then(resp =>{
                        if (resp.data.data === true){
                            this.Success();
                        }else {
                            this.Error();
                        }
                        this.selectAll();
                        this.selectDelete();
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Deletion cancelled'
                    });
                });
            },

            //打开修改界面
            handleEdit(index, row) {
                axios({
                    method:"get",
                    url:"http://localhost/main/"+row.id+""
                }).then(resp =>{
                    this.updateForm = resp.data.data
                    this.editDialogVisible = true;
                })
            },

            //修改
            update(){
                axios({
                    method:"put",
                    url:"http://localhost/main/",
                    data:this.updateForm
                }).then(resp =>{
                    if (resp.data.code === 20031) {
                        this.editDialogVisible = false;
                        this.selectAll();
                        this.Success();
                        this.updateForm = {};
                    }
                    else {
                        this.Error();
                    }
                })
            },

            //增加
            ADD(){
                axios({
                    method:"post",
                    url:"http://localhost/main/",
                    data:this.form
                }).then(resp =>{
                    if (resp.data.code === 20011) {
                        this.dialogVisible = false;
                        this.selectAll();
                        this.Success();
                        this.form = {};
                    }
                    else {
                        this.Error();
                    }
                })
            },

            //改变选择状态
            handleSelectChange(index,row){
                axios({
                    method:"post",
                    url:"http://localhost/main/select/"+row.id+""
                }).then(resp =>{
                    if (resp.data.data === true){
                        this.Success();
                    }else {
                        this.Error();
                    }
                    this.selectAll();
                    this.selectDelete();
                })
            },

            //上传图片
            beforeUpload(file) {
                // 文件类型检查
                const isImage = file.type.startsWith('image/');
                if (!isImage) {
                    this.$message.error('只能上传 jpg/png 文件');
                    return false;
                }

                // 文件大小检查
                const isLt2M = file.size / 1024 / 1024 < 3;
                if (!isLt2M) {
                    this.$message.error('文件大小不能超过 3MB');
                    return false;
                }

                // 省略其他检查，保留上传前的处理
                return true;
            },
            handleSuccess(response,file){
                if (response.code === 20011) {
                    this.Success();
                    this.form.img = '../img/' + response.data;
                } else {
                    this.Error();
                }
            },
            //修改图片成功
            handleUpdateSuccess(response,file){
                if (response.code === 20011) {
                    this.Success();
                    this.updateForm.img = '../img/' + response.data;
                } else {
                    this.Error();
                }
            },


            //搜索
            Search() {
                this.selectAll();
            },
            //取消搜索
            Reset(){
                this.formInline={};
                this.selectAll();
            },
            //分页
            handleSizeChange(val) {
                this.pageSize = val;
                this.selectAll();
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.selectAll();
            }

        }
    })
</script>
</html>