<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.4.0/echarts.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/axios.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
    <script src="../element-ui/lib/umd/locale/en.js"></script>
    <script src="https://www.itxst.com/package/sortable/Sortable.min.js"></script>
    <script src="https://www.itxst.com/package/vuedraggable/vuedraggable.umd.min.js"></script>
    <link rel="stylesheet" href="../css/layout.css"></link>
</head>
<body>
<div id="app">
    <el-header>
        <!--顶部选择栏-->
        <el-menu
                :default-active="activeIndex"
                class="el-menu-demo"
                mode="horizontal"
                @select="handleSelect"
                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b">
            <el-menu-item index="1" @click="toMain">Brand Center</el-menu-item>
            <el-menu-item index="2" @click="toLayout">Operation Dashboard</el-menu-item>
        </el-menu>
    </el-header>

    <el-container>
    <el-aside width="170px">
        <el-menu default-active="1-4-1" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" :collapse="isCollapse" :collapse-transition="false">
            <el-menu-item index="1" @click="brandDialogVisible = true">
                <i class="el-icon-menu"></i>
                <span slot="title">Brands</span>
            </el-menu-item>
            <el-menu-item index="2" @click="programmeDialogVisible = true" :disabled="statisticDisabled">
                <i class="el-icon-document"></i>
                <span slot="title">Data</span>
            </el-menu-item>
            <el-menu-item index="3" @click="setUpDialogVisible = true">
                <i class="el-icon-setting"></i>
                <span slot="title">Set up</span>
            </el-menu-item>
            <el-menu-item index="4" @click="supportDialogVisible = true">
                <i class="el-icon-question"></i>
                <span slot="title">Support</span>
            </el-menu-item>
            <el-menu-item index="5" @click="isCollapse = !isCollapse">
                <i class="el-icon-s-unfold"></i>
                <span slot="title">Fold</span>
            </el-menu-item>
        </el-menu>
    </el-aside>


    <el-main>
<!--        1品牌表格-->
        <el-dialog
                title="Brand Information"
                :visible.sync="brandDialogVisible"
                width="60%"
                height="600px"
        >
            <template>
                <el-table
                        :data="form.brands"
                        style="width: 100%"
                        height="600px"
                >
                    <el-table-column
                            prop="name"
                            label="Name"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="img"
                            label="Img"
                            align="center">
                        <template slot-scope="scope">
                            <el-image
                                    style="width: 50px; height: 50px"
                                    :src="scope.row.img"
                                    :preview-src-list="[scope.row.img]"
                            >
                            </el-image>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="type"
                            label="Type"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            label="Brand awareness"
                            align="center">
                        <template slot-scope="scope">
                            <span v-if="scope.row.level === 1">Extremely High</span>
                            <span v-else-if="scope.row.level === 2">High</span>
                            <span v-else-if="scope.row.level === 3">Moderate</span>
                            <span v-else-if="scope.row.level === 4">Low</span>
                            <span v-else-if="scope.row.level === 5">Extremely Low</span>
                            <span v-else>Unknown</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="size"
                            label="Size"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="consumption"
                            label="Daily Turnover($)"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="duration"
                            label="Opening hours"
                            align="center">
                    </el-table-column>
                </el-table>
            </template>
        </el-dialog>

        <el-dialog
                :visible.sync="programmeDialogVisible"
                width="1400px"
                height="800px"
                @opened="getChart"
        >
            <template>

                <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
                    <el-tab-pane label="Profit distribution" name="first">
                        <div id="chart1" style="width:1400px;height:600px"></div>
                    </el-tab-pane>
                    <el-tab-pane label="Store type ratio" name="second">
                        <div id="chart2" style="width:1400px;height:600px"></div>
                    </el-tab-pane>
                    <el-tab-pane label="Consumption_Human traffic" name="third">
                        <div id="chart3" style="width:1400px;height:600px"></div>
                    </el-tab-pane>
                    <el-tab-pane label="Brand awareness ratio" name="fourth">
                        <div id="chart4" style="width:1400px;height:600px"></div>
                    </el-tab-pane>
                </el-tabs>
            </template>
        </el-dialog>

<!--        3设置-->
        <el-dialog
                title="Set up"
                :visible.sync="setUpDialogVisible"
                width="40%">

            <el-form ref="form" :model="form" label-width="200px">
                <el-form-item label="Strategy">
                    <el-select v-model="form.strategy" placeholder="Please select strategy">
                        <el-option label="Maximizing overall profits" value="maxValue"></el-option>
                        <el-option label="Maximizing profit balance" value="maxBalance"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Competitor influence">
                    <el-slider
                            v-model="form.competitorInfluence"
                            show-stops
                            :step="0.1"
                            :max="1">
                    </el-slider>
                </el-form-item>
                <el-form-item label="Type complementarity">
                    <el-slider
                            v-model="form.typeComplementarity"
                            show-stops
                            :step="0.1"
                            :max="1">
                    </el-slider>
                </el-form-item>
                <el-form-item label="Brand awareness benefits">
                    <el-slider
                            v-model="form.brandBenefits"
                            show-stops
                            :step="0.1"
                            :max="1">
                    </el-slider>
                </el-form-item>
                <el-form-item label="Scale-Flow efficiency">
                    <el-slider
                            v-model="form.sizeEfficiency"
                            show-stops
                            :step="0.1"
                            :max="1">
                    </el-slider>
                    <el-alert
                            title="This is a preset strategy"
                            type="info"
                            show-icon>
                    </el-alert>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="setUpDialogVisible = false">confirm</el-button>
                    <el-button @click="setUpDialogVisible = false">cancel</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

<!--        4帮助-->
        <el-dialog
                title="Support"
                :visible.sync="supportDialogVisible"
                width="1000px"
                >
            <template>
                <div class="block">
                    <el-carousel indicator-position="outside" height="500px">
                        <el-carousel-item v-for="item in imgwrap" :key="item.url">
                            <img :src="item.url"/>
                        </el-carousel-item>
                    </el-carousel>
                </div>
            </template>
        </el-dialog>
    <div class="itxst">
        <div class="col" id="brands" style="height: 800px;overflow: auto">
            <el-button type="primary" class="button" style="width: 75%" @click="find">Find</el-button>
            <el-button type="primary" class="button" style="width: 75%" @click="toLayout">reset</el-button>
            <draggable v-model="brands" group="site" animation="100" @start="onStart" @end="onEnd" :scroll="true">
                <transition-group  :style="style">
                    <div class="item" v-for="item in brands" :key="item.id"><el-image
                            style="width: 50px; height: 50px"
                            :src="item.img"
                            :preview-src-list="[item.img]"
                    >
                    </el-image></div>
                </transition-group>
            </draggable>
        </div>


        <div class="row1">
            <div class="col" id="p1">
                1
                <draggable v-model="form.location.p1" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p1" :key="item.id">
                            <el-image
                                    style="width: 100px; height: 100px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p2">
                2
                <draggable v-model="form.location.p2" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p2" :key="item.id">
                            <el-image
                                style="width: 75px; height: 75px"
                                :src="item.img"
                                :preview-src-list="[item.img]"
                        >
                        </el-image></div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p3">
                3
                <draggable v-model="form.location.p3" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p3" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image></div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p4">
                4
                <draggable v-model="form.location.p4" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p4" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image></div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p5">
                5
                <draggable v-model="form.location.p5" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p5" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image></div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p6">
                6
                <draggable v-model="form.location.p6" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p6" :key="item.id">
                            <el-image
                                    style="width: 100px; height: 100px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image></div>
                    </transition-group>
                </draggable>
            </div>
        </div>

        <div class="row2">
            <div class="col" id="p7">
                7
                <draggable v-model="form.location.p7" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p7" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>

            <div class="col" id="p8">
                8
                <draggable v-model="form.location.p8" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p8" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>

            <div class="col" id="p9">
                9
                <draggable v-model="form.location.p9" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p9" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>

            <div class="col" id="p10">
                10
                <draggable v-model="form.location.p10" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p10" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>

        </div>

        <div class="row3">
            <div class="white"></div>
        </div>

        <div class="row4">
            <div class="col" id="p11">
                11
                <draggable v-model="form.location.p11" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p11" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>

            <div class="col" id="p12">
                12
                <draggable v-model="form.location.p12" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p12" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>

            <div class="col" id="p13">
                13
                <draggable v-model="form.location.p13" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p13" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>

            <div class="col" id="p14">
                14
                <draggable v-model="form.location.p14" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p14" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>
        </div>

        <div class="row5">
            <div class="col" id="p15">
                15
                <draggable v-model="form.location.p15" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p15" :key="item.id">
                            <el-image
                                    style="width: 100px; height: 100px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p16">
                16
                <draggable v-model="form.location.p16" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p16" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image></div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p17">
                17
                <draggable v-model="form.location.p17" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p17" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image></div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p18">
                18
                <draggable v-model="form.location.p18" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p18" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image></div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p19">
                19
                <draggable v-model="form.location.p19" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p19" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image></div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p20">
                <div style="float: right">20</div>
                <div style="height: 75px"></div>
                <draggable v-model="form.location.p20" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p20" :key="item.id">
                            <el-image
                                    style="width: 100px; height: 100px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image></div>
                    </transition-group>
                </draggable>
            </div>
        </div>
    </div>
    </el-main>
    </el-container>
</div>
<script>
    // debugger;
    Vue.component('vuedraggable', window.vuedraggable.name)
    var app = new Vue({
        el: '#app',
        components: {
            vuedraggable,
        },
        mounted(){
            this.selectAll();
        },
        data() {
            return {
                isCollapse: true,
                activeName:'first',
                activeIndex: '2',
                supportDialogVisible: false,
                brandDialogVisible: false,
                setUpDialogVisible: false,
                programmeDialogVisible: false,
                drag: false,
                statisticDisabled: true,
                imgwrap:[
                    {url:"../img/map.jpg"},
                    {url:"../img/map.jpg"},
                    {url:"../img/map.jpg"},
                    {url:"../img/map.jpg"},
                ],
                form: {
                    id:'0',
                    name:'plan',
                    count:'',
                    strategy:'maxValue',
                    competitorInfluence: 0.3,
                    typeComplementarity: 0.3,
                    brandBenefits: 0.2,
                    sizeEfficiency: 0.2,
                    brands:[],
                    location: {
                        p1: [],
                        p2: [],
                        p3: [],
                        p4: [],
                        p5: [],
                        p6: [],
                        p7: [],
                        p8: [],
                        p9: [],
                        p10: [],
                        p11: [],
                        p12: [],
                        p13: [],
                        p14: [],
                        p15: [],
                        p16: [],
                        p17: [],
                        p18: [],
                        p19: [],
                        p20: [],
                    },
                },
                brands: [],
                programmes:[],
                //空数组之在的样式，设置了这个样式才能拖入
                style:'min-height:100px;display: block;'
            };
        },
        methods: {
            toMain(){
                location.href="http://localhost/pages/brand.html"
            },
            toLayout(){
                location.href="http://localhost/pages/layout.html"
            },
            //搜索品牌
            selectAll(){
                axios.get("/main/select").then((res)=>{
                    this.brands = res.data.data;
                    this.form.brands = res.data.data;
                    this.form.count = parseInt(res.data.msg);
                });
            },
            onStart() {
                this.drag = true;
            },
            onEnd() {
                this.drag = false;
            },
            //2方案修改
            handleEdit(index, row) {
                // axios({
                //     method:"get",
                //     url:"http://localhost/main/"+row.id+""
                // }).then(resp =>{
                //     this.updateForm = resp.data.data
                //     this.editDialogVisible = true;
                // })
            },

            //成功
            Success() {
                this.$message({
                    showClose: true,
                    message: 'Success!',
                    type: 'success'
                });
            },
            //失败
            Error() {
                this.$message({
                    showClose: true,
                    message: 'Error',
                    type: 'error'
                });
            },

            //查找
            find(){
                axios({
                    method:"put",
                    url:"http://localhost/plan/find",
                    data:this.form
                }).then(resp =>{
                    this.form.location = resp.data.data.location;
                    this.brands = [];
                    this.statisticDisabled = false;
                    this.Success();
                })
            },

            handleClick(tab, event) {
                console.log(tab, event);
            },

            getChart(){
                this.getChart2();
                this.getChart1();
                this.getChart3();
                this.getChart4();
            },

            getChart1(){
                axios({
                    method:'put',
                    url:'http://localhost/plan/getChart1',
                    data:this.form
                }).then(resp=>{
                    var myChart1 = echarts.init(document.getElementById('chart1'));

                    var option1 = {
                        title: {
                            text: 'Profit distribution',
                            subtext: 'Waterfall Chart',
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow'
                            },
                            formatter: function (params) {
                                var tar = params[1];
                                return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: {
                            type: 'category',
                            splitLine: {show: false},
                            data: ['Total', 'Food', 'Clothe', 'Entertainment', 'Shop']
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [
                            {
                                name: 'Placeholder',
                                type: 'bar',
                                stack: 'Total',
                                itemStyle: {
                                    borderColor: 'transparent',
                                    color: 'transparent'
                                },
                                emphasis: {
                                    itemStyle: {
                                        borderColor: 'transparent',
                                        color: 'transparent'
                                    }
                                },
                                data:resp.data.data[0]
                            },
                            {
                                name: 'Consumption',
                                type: 'bar',
                                stack: 'Total',
                                label: {
                                    show: true,
                                    position: 'inside'
                                },
                                data:resp.data.data[1]
                            }
                        ]
                    }
                    myChart1.setOption(option1);
                })
            },

            getChart2(){
                axios({
                    method:'put',
                    url:'http://localhost/plan/getChart2',
                    data:this.form
                }).then(resp=>{
                    console.log(resp.data)
                    var myChart2 = echarts.init(document.getElementById('chart2'));

                    var option2 = {
                        title: {
                            text: 'Brand Type',
                            subtext: 'Pie chart',
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'item'
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'left'
                        },
                        series: [
                            {
                                name: 'Number',
                                type: 'pie',
                                radius: '50%',
                                data: resp.data.data,
                                emphasis: {
                                    itemStyle: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };
                    myChart2.setOption(option2);
                })
            },

            getChart3(){
                axios({
                    method:'put',
                    url:'http://localhost/plan/getChart3',
                    data:this.form
                }).then(resp=>{
                    console.log(resp.data)
                    var myChart3 = echarts.init(document.getElementById('chart3'));

                    var option3 = {
                        xAxis: {},
                        yAxis: {},
                        series: [
                            {
                                symbolSize: 20,
                                data: resp.data.data,
                                type: 'scatter'
                            }
                        ]
                    };
                    myChart3.setOption(option3);
                })
            },

            getChart4(){
                axios({
                    method:'put',
                    url:'http://localhost/plan/getChart4',
                    data:this.form
                }).then(resp=>{
                    console.log(resp.data)
                    var myChart4 = echarts.init(document.getElementById('chart4'));

                    var option4 = {
                        title: {
                            text: 'Brand Level',
                            subtext: 'Pie chart',
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'item'
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'left'
                        },
                        series: [
                            {
                                name: 'Number',
                                type: 'pie',
                                radius: '50%',
                                data: resp.data.data,
                                emphasis: {
                                    itemStyle: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };
                    myChart4.setOption(option4);
                })
            },

            save(){
                axios({
                    method:"post",
                    url:"http://localhost/plan/save",
                    data:this.form
                }).then(resp =>{
                   this.Success();
                })
            }

        }
    });
</script>
</body>
</html>