<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <script src="../js/vue.js"></script>
    <script src="../js/axios.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
    <script src="../element-ui/lib/umd/locale/en.js"></script>
    <script src="https://www.itxst.com/package/sortable/Sortable.min.js"></script>
    <script src="https://www.itxst.com/package/vuedraggable/vuedraggable.umd.min.js"></script>
    <link rel="stylesheet" href="../css/layout.css"></link>
</head>
<body>
<div id="app">
    <el-header>
        <!--顶部选择栏-->
        <el-menu
                :default-active="activeIndex"
                class="el-menu-demo"
                mode="horizontal"
                @select="handleSelect"
                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b">
            <el-menu-item index="1" @click="toMain">Brand Center</el-menu-item>
            <el-menu-item index="2" @click="toLayout">Operation Dashboard</el-menu-item>
            <el-menu-item index="3" disabled>Statistic</el-menu-item>
        </el-menu>
    </el-header>

    <el-container>
    <el-aside width="170px">
        <el-menu
                class="el-menu-vertical-demo"
                @open="handleOpen"
                @close="handleClose">
            <el-menu-item index="1">
                <i class="el-icon-menu"></i>
                <span slot="title" @click="brandDialogVisible = true">Brands</span>
            </el-menu-item>
            <el-menu-item index="2">
                <i class="el-icon-document"></i>
                <span slot="title" @click="programmeDialogVisible = true">Programme</span>
            </el-menu-item>
            <el-menu-item index="3">
                <i class="el-icon-setting"></i>
                <span slot="title" @click="setUpDialogVisible = true">Set up</span>
            </el-menu-item>
            <el-menu-item index="4">
                <i class="el-icon-question"></i>
                <span slot="title" @click="supportDialogVisible = true">Support</span>
            </el-menu-item>
        </el-menu>
    </el-aside>


    <el-main>
<!--        1品牌表格-->
        <el-dialog
                title="Brand Information"
                :visible.sync="brandDialogVisible"
                width="60%"
                height="600px"
        >
            <template>
                <el-table
                        :data="brands"
                        style="width: 100%"
                        height="600px"
                >
                    <el-table-column
                            prop="name"
                            label="Name"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="img"
                            label="Img"
                            align="center">
                        <template slot-scope="scope">
                            <el-image
                                    style="width: 50px; height: 50px"
                                    :src="scope.row.img"
                                    :preview-src-list="[scope.row.img]"
                            >
                            </el-image>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="type"
                            label="Type"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="level"
                            label="Level"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="size"
                            label="Size"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="consumption"
                            label="Consumption"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="duration"
                            label="Duration"
                            align="center">
                    </el-table-column>
                </el-table>
            </template>
        </el-dialog>

<!--        2方案-->
        <el-dialog
                title="Programme"
                :visible.sync="programmeDialogVisible"
                width="80%"
                height="600px"
        >
            <template>
                <el-table
                        :data="programmes"
                        style="width: 100%"
                        height="600px"
                >
                    <el-table-column
                            align="center"
                            type="index"
                            sortable>
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="Name"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="number"
                            label="Number"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="strategy"
                            label="Strategy"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="competitorInfluence"
                            label="Competitor influence"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="typeComplementarity"
                            label="Type complementarity"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="brandBenefits"
                            label="Brand benefits"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="sizeEfficiency"
                            label="Scale-Flow efficiency"
                            align="center">
                    </el-table-column>
                    <el-table-column label="operation"
                                     align="center">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </template>
        </el-dialog>

<!--        3设置-->
        <el-dialog
                title="Set up"
                :visible.sync="setUpDialogVisible"
                width="40%">

            <el-form ref="form" :model="form" label-width="200px">
                <el-form-item label="Strategy">
                    <el-select v-model="form.strategy" placeholder="Please select strategy">
                        <el-option label="Maximizing overall profits" value="maxValue"></el-option>
                        <el-option label="Maximizing profit balance" value="maxBalance"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Competitor influence">
                    <el-slider
                            v-model="form.competitorInfluence"
                            range
                            show-stops
                            :step="0.1"
                            :max="1">
                    </el-slider>
                </el-form-item>
                <el-form-item label="Type complementarity">
                    <el-slider
                            v-model="form.typeComplementarity"
                            range
                            show-stops
                            :step="0.1"
                            :max="1">
                    </el-slider>
                </el-form-item>
                <el-form-item label="Brand awareness benefits">
                    <el-slider
                            v-model="form.brandBenefits"
                            range
                            show-stops
                            :step="0.1"
                            :max="1">
                    </el-slider>
                </el-form-item>
                <el-form-item label="Scale-Flow efficiency">
                    <el-slider
                            v-model="form.sizeEfficiency"
                            range
                            show-stops
                            :step="0.1"
                            :max="1">
                    </el-slider>
                    <el-alert
                            title="This is a preset strategy"
                            type="info"
                            show-icon>
                    </el-alert>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="setUp">confirm</el-button>
                    <el-button @click="setUpDialogVisible = false">cancel</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

<!--        4帮助-->
        <el-dialog
                title="Support"
                :visible.sync="supportDialogVisible"
                width="1000px"
                >
            <template>
                <div class="block">
                    <el-carousel indicator-position="outside" height="500px">
                        <el-carousel-item v-for="item in imgwrap" :key="item.url">
                            <img :src="item.url"/>
                        </el-carousel-item>
                    </el-carousel>
                </div>
            </template>
        </el-dialog>
    <div class="itxst">
        <div class="col" id="brands" style="height: 800px;overflow: auto">
            <el-button type="primary" class="button" style="width: 75%" @click="find">Find</el-button>
            <el-button type="primary" class="button" style="width: 75%">Save</el-button>
            <draggable v-model="brands" group="site" animation="100" @start="onStart" @end="onEnd" :scroll="true">
                <transition-group  :style="style">
                    <div class="item" v-for="item in brands" :key="item.id"><el-image
                            style="width: 50px; height: 50px"
                            :src="item.img"
                            :preview-src-list="[item.img]"
                    >
                    </el-image></div>
                </transition-group>
            </draggable>
        </div>


        <div class="row1">
            <div class="col" id="p1">
                1
                <draggable v-model="form.location.p1" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p1" :key="item.id">
                            <el-image
                                    style="width: 100px; height: 100px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p2">
                2
                <draggable v-model="form.location.p2" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p2" :key="item.id">
                            <el-image
                                style="width: 75px; height: 75px"
                                :src="item.img"
                                :preview-src-list="[item.img]"
                        >
                        </el-image></div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p3">
                3
                <draggable v-model="form.location.p3" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p3" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image></div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p4">
                4
                <draggable v-model="form.location.p4" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p4" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image></div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p5">
                5
                <draggable v-model="form.location.p5" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p5" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image></div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p6">
                6
                <draggable v-model="form.location.p6" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p6" :key="item.id">
                            <el-image
                                    style="width: 100px; height: 100px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image></div>
                    </transition-group>
                </draggable>
            </div>
        </div>

        <div class="row2">
            <div class="col" id="p7">
                7
                <draggable v-model="form.location.p7" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p7" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>

            <div class="col" id="p8">
                8
                <draggable v-model="form.location.p8" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p8" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>

            <div class="col" id="p9">
                9
                <draggable v-model="form.location.p9" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p9" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>

            <div class="col" id="p10">
                10
                <draggable v-model="form.location.p10" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p10" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>

        </div>

        <div class="row3">
            <div class="white"></div>
        </div>

        <div class="row4">
            <div class="col" id="p11">
                11
                <draggable v-model="form.location.p11" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p11" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>

            <div class="col" id="p12">
                12
                <draggable v-model="form.location.p12" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p12" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>

            <div class="col" id="p13">
                13
                <draggable v-model="form.location.p13" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p13" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>

            <div class="col" id="p14">
                14
                <draggable v-model="form.location.p14" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p14" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>
        </div>

        <div class="row5">
            <div class="col" id="p15">
                15
                <draggable v-model="form.location.p15" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p15" :key="item.id">
                            <el-image
                                    style="width: 100px; height: 100px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image>
                        </div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p16">
                16
                <draggable v-model="form.location.p16" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p16" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image></div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p17">
                17
                <draggable v-model="form.location.p17" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p17" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image></div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p18">
                18
                <draggable v-model="form.location.p18" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p18" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image></div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p19">
                19
                <draggable v-model="form.location.p19" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p19" :key="item.id">
                            <el-image
                                    style="width: 75px; height: 75px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image></div>
                    </transition-group>
                </draggable>
            </div>
            <div class="col" id="p20">
                <div style="float: right">20</div>
                <div style="height: 75px"></div>
                <draggable v-model="form.location.p20" group="site" animation="100" @start="onStart" @end="onEnd">
                    <transition-group :style="style">
                        <div class="item" v-for="item in form.location.p20" :key="item.id">
                            <el-image
                                    style="width: 100px; height: 100px"
                                    :src="item.img"
                                    :preview-src-list="[item.img]"
                            >
                            </el-image></div>
                    </transition-group>
                </draggable>
            </div>
        </div>
    </div>
    </el-main>
    </el-container>
</div>
<script>
    // debugger;
    Vue.component('vuedraggable', window.vuedraggable.name)
    var app = new Vue({
        el: '#app',
        components: {
            vuedraggable,
        },
        mounted(){
            this.selectAll();
        },
        data() {
            return {
                activeIndex: '2',
                supportDialogVisible: false,
                brandDialogVisible: false,
                setUpDialogVisible: false,
                programmeDialogVisible: false,
                drag: false,
                imgwrap:[
                    {url:"../img/map.jpg"},
                    {url:"../img/map.jpg"},
                    {url:"../img/map.jpg"},
                    {url:"../img/map.jpg"},
                ],
                form: {
                    id:'0',
                    name:'plan',
                    count:'',
                    strategy:'maxValue',
                    competitorInfluence:[0.5,0.5],
                    typeComplementarity:[0.5,0.5],
                    brandBenefits:[0.5,0.5],
                    sizeEfficiency:[0.5,0.5],
                    location: {
                        p1: [],
                        p2: [],
                        p3: [],
                        p4: [],
                        p5: [],
                        p6: [],
                        p7: [],
                        p8: [],
                        p9: [],
                        p10: [],
                        p11: [],
                        p12: [],
                        p13: [],
                        p14: [],
                        p15: [],
                        p16: [],
                        p17: [],
                        p18: [],
                        p19: [],
                        p20: [],
                    },
                },
                brands: [],
                programmes:[],
                //空数组之在的样式，设置了这个样式才能拖入
                style:'min-height:100px;display: block;'
            };
        },
        methods: {
            toMain(){
                location.href="http://localhost/pages/brand.html"
            },
            toLayout(){
                location.href="http://localhost/pages/layout.html"
            },
            //搜索品牌
            selectAll(){
                axios.get("/main/select").then((res)=>{
                    this.brands = res.data.data;
                    this.form.count = parseInt(res.data.msg);
                });
            },
            onStart() {
                this.drag = true;
            },
            onEnd() {
                this.drag = false;
            },
            //2方案修改
            handleEdit(index, row) {
                // axios({
                //     method:"get",
                //     url:"http://localhost/main/"+row.id+""
                // }).then(resp =>{
                //     this.updateForm = resp.data.data
                //     this.editDialogVisible = true;
                // })
            },

            //成功
            Success() {
                this.$message({
                    showClose: true,
                    message: 'Success!',
                    type: 'success'
                });
            },
            //失败
            Error() {
                this.$message({
                    showClose: true,
                    message: 'Error',
                    type: 'error'
                });
            },

            //查找
            find(){
                axios({
                    method:"put",
                    url:"http://localhost/plan/find",
                    data:this.form
                }).then(resp =>{
                    this.Success();
                })
            },

            save(){
                axios({
                    method:"post",
                    url:"http://localhost/plan/save",
                    data:this.form
                }).then(resp =>{
                    this.Success();
                })
            }

        }
    });
</script>
</body>
</html>